/* Add this CSS to your stylesheet */
.shake {
  animation: shake 0.5s;
  border: none;
  border: 1px solid red;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Add this CSS to your stylesheet or within a <style> tag */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Add this CSS to your stylesheet or within a <style> tag */
@keyframes fillLeftToRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.fill-left-to-right {
  animation: fillLeftToRight 0.5s forwards;
}

@keyframes fillLeftToRightMobile {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

.fill-left-to-right-mobile {
  animation: fillLeftToRightMobile 0.5s forwards;
}